.nav_bar {
	height: 30%;
	width: 15%;
	float: left;
	clear: none;
}

.row {
	float: left;
	clear: right;
	margin: auto;
	height: 50%;
	width: 95%;
}

.bubble {
	border-width: 1em;
	border-style: solid;
	border-radius: 20%;
	background-color: white;
	height: 240%;
	width: 35%;
	float: left;
	margin: 1em 0em 0.5em 1em;
	padding: 0.2em;
	opacity: 0.8;
}

.bubble:hover {
	border-width: 0.5em;
	height: 260%;
	width: 40%;
	opacity: 1;
}

.button {
	height: 20%;
	width: 40%;
	background-color: lightgray;
	clear: right;
}

.button:hover {
	height: 25%;
	width: 62.5%;
}

.button:active {
	height: 15%;
	width: 37.5%;
	background-color: darkgray;
}

.button:visited {
	height: 18%;
	width: 45%;
	background-color: gray;
}

.circle {
	border: 15px dotted pink;
	height: 100%;
	width: 25%;
	margin: 3em;
	float: left;
	background-color: white;
	border-radius: 100%;
}

.container {
	width: 75%;
	height: 30%;
	float: left;
}

#change {
	height: 30%;
	width: 30%;
}

#header {
	float: left;
	clear: right;
	height: 5%;
	width: 100%;
	background-color: gray;
	border: 1em solid gray;
	margin: -0.5em 0em 0em -1em;
}

#content {
	float: left;
	height: 30%;
	width: 80%;
	clear: right;
	margin-left: 1em;
}

#footer {
	height: 30%;
	width: 100%;
	clear: both;
}

#orange {
	border-color: orange;
	background-image: url("orange.jpg");
}

#green {
	border-color: green;
	background-image: url("green.jpg");
}

#blue {
	border-color: blue;
	background-image: url("blue.jpg");
}

#yellow {
	border-color: yellow;
	background-image: url("yellow.jpg");
}

#map {
	width: 80%;
}

body {
	background-color: #F5F5F5;
}

div {
	margin: 1em;
	height: auto;
	width: auto;
}

img {
	height: 20%;
	width: 20%;
	margin: 3em;
}

h3, h4, h5, h6 {
	font-family: Impact, sans-serif;
	text-align: center;
	font-size: 2.3em;
}

p {
	margin: 2em;
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: transparent;
	padding: 1em;
	float: left;
}

div.nav_bar ol {
	list-style-type: none;
}

div.nav_bar li {
	width: 100%;
	margin: 2em 0em 2em -1.5em;
	padding: 1em;
	text-align: center;
	background-color: gray;
	border-radius: 5%;
}

div.nav_bar a {
	font: 1.5em italic Arial, sans-serif;
	color: white;
	font-weight: 100;
	text-decoration: none;
}

div.nav_bar a:hover {
	font: 1.5em italic Arial, sans-serif;
	color: white;
	font-weight: 100;
	text-decoration: none;
}

div.header h1 {
	font: 5em bold Impact, sans-serif;
	color: white;
	font-weight: 200;
}

div.bubble h2 {
	font: 3em normal Times, sans-serif;
	font-weight: 600;
	color: black;
	margin: 0.5em 0em 0em 0.2em;
}

div.bubble p {
	font: 1em normal Georgia, sans-serif;
	color: white;
	font-weight: 400;
	text-align: left;
	margin: 4em 5em 4em 4em;
}
